<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxim.pipyaki"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-sdk android:minSdkVersion="22"/>

    <application android:label="Pipyaki">
        <activity android:name=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
